$black-background: rgb(33, 33, 33);
$white-color: white;
.movie-list-item {
    padding: 10px;
    cursor: pointer;
}

.movie-list-item:hover {
    background-color: #eee;
}

.movie-list-item .poster-container {
    height: 200px;
    width: 150px;
}

.movie-list-item .movie-poster {
    max-height: 200px;
    max-width: 150px;
}

.released-date {
    margin-top: 20px;
}

#movie-details .movie-poster {
    max-height: 350px;
    max-width: 262px;
}

#movie-details .buttons {
    text-align: center;
}

.movie-link {
    color: inherit;
}

.movie-link:hover {
    text-decoration: none;
    .media-body {
        color: $black-background;
    }
}


/* newly added */

body {
    background: $black-background;
}

nav {
    background: $black-background;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    .nav.nav-pills.pull-right li {
        margin: 0 5px;
    }
}

h1 {
    color: $white-color;
}

.badge-blue {
    background: rgb(51, 122, 183);
}

.badge-green {
    background: green;
}

.badge-red {
    background: red;
}

form input {
    height: 34px;
}

.media-body {
    color: $white-color;
}

table {
    color: $white-color;
}

.col-xs-12.col-md-5 {
    text-align: center;
}