<div class="row">
    <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
        <input class="col-xs-9" type="text" name="search_term" placeholder="Search" value='<%= searchTerm %>'>
        <button class="btn btn-success col-xs-3" type="submit">Search</button>
    </form>
</div>
<br>